@media (max-width: 1399px) {
  nav div,
  main .main-container,
  header .header-container,
  section .statistics-content,
  section .offers-content {
    width: 1140px;
  }
  header .header-container {
    margin: 0 auto;
  }
  header .hero-section-text {
    width: 525px;
  }
  header img,
  section .statistics-content .statistics-container {
    width: 570px;
  }
  main {
    height: 619px;
  }
  main img.service_image {
    height: 359px;
    width: 311px;
  }
  main .services .service {
    width: 380px;
  }
  section .statistics-content img {
    width: 501px;
    height: 350px;
  }
  @keyframes visibleCard {
    from {
      background-color: transparent;
      top: 0;
    }
    to {
      background-color: var(--primary-color);
      top: -220px;
    }
  }
  @keyframes hiddenCard {
    from {
      background-color: var(--primary-color);
      top: -220px;
    }
    to {
      background-color: transparent;
      top: 0;
    }
  }
}

@media (max-width: 1199px) {
  nav div,
  header .header-container,
  main .main-container,
  section .statistics-content,
  section .offers-content {
    width: 960px;
  }
  header .header-container {
    align-items: flex-start;
  }
  nav .navigation li:not(:last-child) {
    padding-inline: 12px;
  }
  header .hero-section-text {
    width: 411px;
  }
  section .statistics-content img {
    width: 411px;
    height: 287px;
  }
  header img,
  section .statistics-content .statistics-container {
    width: 480px;
  }
  main {
    height: 572px;
    align-items: end;
  }
  main img.service_image {
    height: 290px;
    width: 250px;
  }
  main .services .service {
    width: 295px;
  }
  main .services .service div p {
    line-height: 20px;
  }
  section .offers-content .offer-cards {
    margin-top: 20px;
  }
  @keyframes visibleCard {
    from {
      background-color: transparent;
      top: 0;
    }
    to {
      background-color: var(--primary-color);
      top: -240px;
    }
  }
  @keyframes hiddenCard {
    from {
      background-color: var(--primary-color);
      top: -240px;
    }
    to {
      background-color: transparent;
      top: 0;
    }
  }
}

@media (max-width: 992px) {
  nav .navigation li:last-of-type a {
    display: none;
  }
  header::before {
    top: 77px;
  }
  header .search {
    width: 456px;
  }
  header .header-container {
    padding-top: 196px;
  }
  header .hero-section-text {
    width: 456px;
    text-align: center;
    margin-right: 0;
  }
  main {
    background-image: none;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
  }
  main .main-container img.service_image {
    margin-right: 0;
    padding: 0;
    width: 340px;
    height: 400px;
    position: absolute;
    top: 70%;
    left: 50%;
    translate: -50%;
  }
  main .main-container .services {
    justify-content: center;
  }
  main .main-container .services .service {
    width: 40%;
    border-radius: 20px;
    margin: 0 12px 30px;
    padding: 20px;
    height: auto;
    background: linear-gradient(
      105deg,
      rgba(255, 77, 30, 1) 0%,
      rgba(255, 44, 109, 1) 100%
    );
  }
  section .statistics-content {
    margin-top: 300px;
  }
  section .statistics-content img {
    width: 100%;
  }
  section .statistics-content .statistics h3 {
    margin-right: 0;
  }
  section .statistics-content .statistics h3,
  section .statistics-content .statistics p {
    text-align: center;
  }
}

@media (max-width: 991px) {
  nav div {
    width: 724px;
  }
  header .header-container,
  section .statistics-content,
  section .offers-content {
    width: 690px;
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
  }
  header .hero-section-text {
    margin-bottom: 45px;
  }
  header .hero-section-text,
  header .search {
    width: 100%;
  }
  header img,
  section .statistics-content .statistics-container {
    width: 720px;
  }
  nav .navigation li:not(:last-child) {
    padding-inline: 10px;
  }
  section .statistics-content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  section .statistics-content img {
    width: 696px;
    height: 488px;
  }
  section .offers-content .offer-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  @keyframes visibleCard {
    from {
      background-color: transparent;
      top: 0;
    }
    to {
      background-color: var(--primary-color);
      top: -190px;
    }
  }
  @keyframes hiddenCard {
    from {
      background-color: var(--primary-color);
      top: -190px;
    }
    to {
      background-color: transparent;
      top: 0;
    }
  }
}

@media (max-width: 767px) {
  header .header-container,
  section .statistics-content,
  section .offers-content {
    width: 84%;
  }
  nav .navigation li {
    display: none;
  }
  nav div {
    width: 86%;
  }
  nav #menu-bar {
    display: inline-block;
  }
  header .hero-section-text {
    width: 516px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .search {
    width: 516px;
  }
  header img,
  section .statistics-content .statistics-container {
    width: 540px;
  }
  main .main-container img.service_image {
    top: 100%;
  }
  main .main-container .services .service {
    width: 80%;
    margin-inline: 0;
  }
  section .statistics-content img {
    width: 516px;
    height: 361px;
  }
}

@media (max-width: 675px) {
  section .offers-content .offer-cards .offer-card .hidden-card {
    padding: 10px;
  }
  @keyframes visibleCard {
    from {
      background-color: transparent;
      top: 0;
    }
    to {
      background-color: var(--primary-color);
      top: -154px;
    }
  }
  @keyframes hiddenCard {
    from {
      background-color: var(--primary-color);
      top: -154px;
    }
    to {
      background-color: transparent;
      top: 0;
    }
  }
}

@media (max-width: 575px) {
  header .header-container,
  header .hero-section-text,
  header .search,
  header img {
    width: 97%;
  }
  section .statistics-content {
    margin-top: 320px;
  }
  section .statistics-content .statistics-container {
    width: 110%;
  }
  section .statistics-content img {
    width: 100%;
    height: auto;
  }
  section .offers-content h3 {
    width: auto;
}
  section .offers-content .offer-cards {
    grid-template-columns: 1fr;
  }
  @keyframes visibleCard {
    from {
      background-color: transparent;
      top: 0;
    }
    to {
      background-color: var(--primary-color);
      top: -124px;
    }
  }
  @keyframes hiddenCard {
    from {
      background-color: var(--primary-color);
      top: -124px;
    }
    to {
      background-color: transparent;
      top: 0;
    }
  }
}

@media (max-width: 504px) {
  @keyframes visibleCard {
    from {
      background-color: transparent;
      top: 0;
    }
    to {
      background-color: var(--primary-color);
      top: -140px;
    }
  }
  @keyframes hiddenCard {
    from {
      background-color: var(--primary-color);
      top: -140px;
    }
    to {
      background-color: transparent;
      top: 0;
    }
  }
}

@media (max-width: 370px) {
  header .hero-section-text h1 {
    font-size: 40px;
  }
  header .search {
    position: relative;
  }
  header .search button {
    position: absolute;
    right: 10px;
    z-index: 1;
  }
  main .main-container .services .service {
    width: 94%;
    padding: 10px;
  }
  main .main-container img.service_image {
    width: 74%;
    height: 50%;
  }
  main .main-container .services .service img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  section .statistics-content {
    margin-top: 200px;
  }
}

@media (max-width: 340px) {
  header .search button {
    padding: 10px 10px;
    font-size: 12px;
  }
  main .main-container img.service_image {
    width: 80%;
    height: 38%;
  }
}